In [1]:
import pandas as pd
df = pd.read_csv('NaturalDisasters.csv', encoding='latin-1')
df.head(20)

,DisNo.,Historic,Classification Key,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,External IDs,Event Name,ISO,...,Reconstruction Costs ('000 US$),"Reconstruction Costs, Adjusted ('000 US$)",Insured Damage ('000 US$),"Insured Damage, Adjusted ('000 US$)",Total Damage ('000 US$),"Total Damage, Adjusted ('000 US$)",CPI,Admin Units,Entry Date,Last Update
0,1950-0001-PAK,Yes,nat-hyd-flo-riv,Natural,Hydrological,Flood,Riverine flood,NaN,NaN,PAK,...,NaN,NaN,NaN,NaN,NaN,NaN,8.233686,NaN,2010-08-13,2023-09-25
1,1950-0005-PER,Yes,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,NaN,NaN,PER,...,NaN,NaN,NaN,NaN,NaN,NaN,8.233686,NaN,2004-04-13,2023-09-25
2,1950-0006-IND,Yes,nat-hyd-flo-riv,Natural,Hydrological,Flood,Riverine flood,NaN,NaN,IND,...,NaN,NaN,NaN,NaN,NaN,NaN,8.233686,NaN,2003-07-01,2023-09-25
3,1950-0007-CHN,Yes,nat-hyd-flo-flo,Natural,Hydrological,Flood,Flood (General),NaN,NaN,CHN,...,NaN,NaN,NaN,NaN,NaN,NaN,8.233686,NaN,2003-07-01,2023-09-25
4,1950-0008-IND,Yes,nat-geo-ear-gro,Natural,Geophysical,Earthquake,Ground movement,NaN,NaN,IND,...,NaN,NaN,NaN,NaN,20000.0,242905.0,8.233686,NaN,2004-04-13,2023-09-25
5,1950-0009-ATG,Yes,nat-met-sto-tro,Natural,Meteorological,Storm,Tropical cyclone,NaN,Dog,ATG,...,NaN,NaN,NaN,NaN,1000.0,12145.0,8.233686,NaN,2003-07-01,2023-09-25
6,1950-0010-JPN,Yes,nat-met-sto-tro,Natural,Meteorological,Storm,Tropical cyclone,NaN,Jane,JPN,...,NaN,NaN,NaN,NaN,NaN,NaN,8.233686,NaN,2003-07-01,2023-09-25
7,1950-0011-IND,Yes,nat-met-sto-sto,Natural,Meteorological,Storm,Storm (General),NaN,NaN,IND,...,NaN,NaN,NaN,NaN,NaN,NaN,8.233686,NaN,2003-07-01,2023-09-25
8,1950-0012-CAN,Yes,nat-met-sto-tor,Natural,Meteorological,Storm,Tornado,NaN,NaN,CAN,...,NaN,NaN,NaN,NaN,NaN,NaN,8.233686,NaN,2005-12-01,2023-09-25
9,1950-0013-USA,Yes,nat-met-sto-sto,Natural,Meteorological,Storm,Storm (General),NaN,NaN,USA,...,NaN,NaN,NaN,NaN,100000.0,1214523.0,8.233686,NaN,2003-07-01,2023-09-25
10,1950-0014-USA,Yes,tec-tra-rai-rai,Technological,Transport,Rail,Rail,NaN,NaN,USA,...,NaN,NaN,NaN,NaN,NaN,NaN,8.233686,NaN,2003-07-01,2023-09-25
11,1950-0015-JPN,Yes,tec-ind-poi-poi,Technological,Industrial accident,Poisoning,Poisoning,NaN,Methyl Mercury,JPN,...,NaN,NaN,NaN,NaN,NaN,NaN,8.233686,NaN,2003-07-01,2023-09-25
12,1950-0016-DDR,Yes,tec-tra-rai-rai,Technological,Transport,Rail,Rail,NaN,NaN,DDR,...,NaN,NaN,NaN,NaN,NaN,NaN,8.233686,NaN,2003-07-01,2023-09-25
13,1950-0017-CAN,Yes,nat-hyd-flo-flo,Natural,Hydrological,Flood,Flood (General),NaN,NaN,CAN,...,NaN,NaN,NaN,NaN,100000.0,1214523.0,8.233686,NaN,2003-07-01,2023-09-25
14,1950-0018-CAN,Yes,tec-tra-rai-rai,Technological,Transport,Rail,Rail,NaN,NaN,CAN,...,NaN,NaN,NaN,NaN,NaN,NaN,8.233686,NaN,2003-07-01,2023-09-25
15,1950-0019-USA,Yes,tec-tra-rai-rai,Technological,Transport,Rail,Rail,NaN,NaN,USA,...,NaN,NaN,NaN,NaN,NaN,NaN,8.233686,NaN,2003-07-01,2023-09-25
16,1950-0020-BEL,Yes,tec-ind-exp-exp,Technological,Industrial accident,Explosion (Industrial),Explosion (Industrial),NaN,NaN,BEL,...,NaN,NaN,NaN,NaN,NaN,NaN,8.233686,NaN,2005-04-13,2023-09-25
17,1950-0021-USA,Yes,nat-met-sto-sto,Natural,Meteorological,Storm,Storm (General),NaN,NaN,USA,...,NaN,NaN,NaN,NaN,NaN,NaN,8.233686,NaN,2003-07-01,2023-09-25
18,1950-0022-USA,Yes,nat-met-sto-sto,Natural,Meteorological,Storm,Storm (General),NaN,NaN,USA,...,NaN,NaN,NaN,NaN,NaN,NaN,8.233686,NaN,2003-07-01,2023-09-25
19,1950-0023-ECU,Yes,nat-hyd-flo-flo,Natural,Hydrological,Flood,Flood (General),NaN,NaN,ECU,...,NaN,NaN,NaN,NaN,NaN,NaN,8.233686,NaN,2003-07-01,2023-09-25

In [2]:
df.columns

Index(['DisNo.', 'Historic', 'Classification Key', 'Disaster Group',
       'Disaster Subgroup', 'Disaster Type', 'Disaster Subtype',
       'External IDs', 'Event Name', 'ISO', 'Country', 'Subregion', 'Region',
       'Location', 'Origin', 'Associated Types', 'OFDA Response', 'Appeal',
       'Declaration', 'AID Contribution ('000 US$)', 'Magnitude',
       'Magnitude Scale', 'Latitude', 'Longitude', 'River Basin', 'Start Year',
       'Start Month', 'Start Day', 'End Year', 'End Month', 'End Day',
       'Total Deaths', 'No. Injured', 'No. Affected', 'No. Homeless',
       'Total Affected', 'Reconstruction Costs ('000 US$)',
       'Reconstruction Costs, Adjusted ('000 US$)',
       'Insured Damage ('000 US$)', 'Insured Damage, Adjusted ('000 US$)',
       'Total Damage ('000 US$)', 'Total Damage, Adjusted ('000 US$)', 'CPI',
       'Admin Units', 'Entry Date', 'Last Update'],
      dtype='object')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25498 entries, 0 to 25497
Data columns (total 46 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   DisNo.                                     25498 non-null  object
 1   Historic                                   25498 non-null  object
 2   Classification Key                         25498 non-null  object
 3   Disaster Group                             25498 non-null  object
 4   Disaster Subgroup                          25498 non-null  object
 5   Disaster Type                              25498 non-null  object
 6   Disaster Subtype                           25498 non-null  object
 7   External IDs                               2375 non-null   object
 8   Event Name                                 8000 non-null   object
 9   ISO                                        25498 non-null  object
 10  Country                                    25498 non-null  object
 11  Subregion                                  25498 non-null  object
 12  Region                                     25498 non-null  object
 13  Location                                   23215 non-null  object
 14  Origin                                     4348 non-null   object
 15  Associated Types                           3720 non-null   object
 16  OFDA Response                              25498 non-null  object
 17  Appeal                                     25498 non-null  object
 18  Declaration                                25498 non-null  object
 19  AID Contribution ('000 US$)                788 non-null    float64
 20  Magnitude                                  4945 non-null   float64
 21  Magnitude Scale                            15926 non-null  object
 22  Latitude                                   2544 non-null   float64
 23  Longitude                                  2544 non-null   float64
 24  River Basin                                1376 non-null   object
 25  Start Year                                 25498 non-null  int64
 26  Start Month                                25097 non-null  float64
 27  Start Day                                  21710 non-null  float64
 28  End Year                                   25498 non-null  int64
 29  End Month                                  24795 non-null  float64
 30  End Day                                    21799 non-null  float64
 31  Total Deaths                               20148 non-null  float64
 32  No. Injured                                8432 non-null   float64
 33  No. Affected                               10728 non-null  float64
 34  No. Homeless                               2577 non-null   float64
 35  Total Affected                             17317 non-null  float64
 36  Reconstruction Costs ('000 US$)            42 non-null     float64
 37  Reconstruction Costs, Adjusted ('000 US$)  38 non-null     float64
 38  Insured Damage ('000 US$)                  1124 non-null   float64
 39  Insured Damage, Adjusted ('000 US$)        1113 non-null   float64
 40  Total Damage ('000 US$)                    5610 non-null   float64
 41  Total Damage, Adjusted ('000 US$)          5543 non-null   float64
 42  CPI                                        24982 non-null  float64
 43  Admin Units                                8349 non-null   object
 44  Entry Date                                 25498 non-null  object
 45  Last Update                                25498 non-null  object
dtypes: float64(20), int64(2), object(24)
memory usage: 8.9+ MB

In [4]:
df.shape

(25498, 46)

In [5]:
df['Disaster Type'].value_counts()

Flood                               5869
Storm                               4553
Road                                2875
Water                               1611
Epidemic                            1499
Earthquake                          1362
Air                                  935
Mass movement (wet)                  804
Drought                              775
Fire (Miscellaneous)                 770
Explosion (Industrial)               744
Extreme temperature                  648
Rail                                 620
Wildfire                             461
Collapse (Miscellaneous)             299
Miscellaneous accident (General)     274
Volcanic activity                    252
Explosion (Miscellaneous)            220
Fire (Industrial)                    218
Collapse (Industrial)                184
Industrial accident (General)        123
Chemical spill                       108
Infestation                           92
Poisoning                             76
Gas leak                              61
Mass movement (dry)                   41
Radiation                              9
Oil spill                              8
Glacial lake outburst flood            4
Fog                                    1
Impact                                 1
Animal incident                        1
Name: Disaster Type, dtype: int64

In [6]:
df[(df['Disaster Group']=='Natural')]['Disaster Type'].value_counts()

Flood                          5869
Storm                          4553
Epidemic                       1499
Earthquake                     1362
Mass movement (wet)             804
Drought                         775
Extreme temperature             648
Wildfire                        461
Volcanic activity               252
Infestation                      92
Mass movement (dry)              41
Glacial lake outburst flood       4
Fog                               1
Impact                            1
Animal incident                   1
Name: Disaster Type, dtype: int64

In [7]:
df[(df['Disaster Group']=='Technological')]['Disaster Type'].value_counts()

Road                                2875
Water                               1611
Air                                  935
Fire (Miscellaneous)                 770
Explosion (Industrial)               744
Rail                                 620
Collapse (Miscellaneous)             299
Miscellaneous accident (General)     274
Explosion (Miscellaneous)            220
Fire (Industrial)                    218
Collapse (Industrial)                184
Industrial accident (General)        123
Chemical spill                       108
Poisoning                             76
Gas leak                              61
Radiation                              9
Oil spill                              8
Name: Disaster Type, dtype: int64

In [8]:
registros2020 = df[(df['DisNo.'].str.startswith('2020'))&(df['Disaster Group']=='Natural')]
registros2020['Disaster Type'].value_counts()

Flood                  202
Storm                  128
Mass movement (wet)     19
Earthquake              16
Drought                 12
Wildfire                 9
Epidemic                 7
Extreme temperature      5
Volcanic activity        4
Infestation              2
Name: Disaster Type, dtype: int64

In [10]:
df['Historic']=="Yes"

0         True
1         True
2         True
3         True
4         True
         ...
25493    False
25494    False
25495    False
25496    False
25497    False
Name: Historic, Length: 25498, dtype: bool